.main {
    max-width: 100%; /* Set your desired maximum width as a percentage */
    margin: 0 auto; /* Center the content horizontally */
    overflow-x: hidden; /* Hide horizontal overflow */
    /* Apply additional styles or adjustments as needed */
  }