.projects {
  display: flex;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  flex-direction: column;
  padding-top: 200px;
  background-color: #141516;

  @media (max-width: 768px) {
    padding-left: 75px;
    padding-right: 75px;
  }

  .body {
    z-index: 1;
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    color: white;

    .title {
      border-bottom: 1px solid rgb(134, 134, 134);
      width: 100%;
      padding-bottom: 100px;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;

      @media (max-width: 768px) {
        flex-direction: column;
      }
      
      h2 {
        font-size: 5vw;
        margin: 0px;
        font-weight: 300;
        
      }
    .buttonContainer{
      display: flex;
      margin-left: auto;
      a{
        text-decoration: none;
        color: white;
      }

      .button{
        
        margin-left: auto;
        margin-right: 25px;
        width: 180px;
        height: 60px;
        background-color: #455CE9;
        color: white;
        padding: 0 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        border-radius: 30px;
        p{
            margin: 0px;
            font-size: 16px;
            font-weight: 300;
            z-index: 2;
            position: relative;
        }
    
  }
  @media (max-width: 768px) {
    padding-top: 50px;
  }
}
      @media (max-width: 768px) {
        /* Media query for smaller screens */
      }
    }
    .imageContainer{
      padding-top: 100px;
      position: relative;
      max-width: 100%;
      width: auto;
      padding-bottom: 100px;
      overflow: hidden;

      Image {

        object-fit: cover; /* Fit the entire image within its container */
       

      }
    }
    

    p {
      margin: 0px;
      &:nth-of-type(1) {
        font-size: 36px;
        gap: 8px;
        line-height: 1.3;
        span {
          margin-right: 3px;
        }
        .mask {
          position: relative;
          overflow: hidden;
          display: inline-flex;
        }
      }
      &:nth-of-type(2) {
        font-size: 18px;
        width: 100%; /* Occupy full width of the description container */
        font-weight: 300;
      }
    }
  }
}

   